@use "variables" as var;
@use 'responsive' as *; // respond-to 믹스인 바로 사용

// === Button ===
.btn-bn {
   background: transparent;
   border: none;
}
.btn-order {
   background: var.$color-black;
   border: none;
   border-radius: 300px;
   padding: 12px 40px;
}

// === Border ===
.flower-box {
   // border: 1px solid var.$color-gray-500;
   box-shadow: 0 0 0 1px var.$color-gray-500 inset;
   border-radius: 5px;
   padding: 37px 36px;
}
// .flower-pricetag {
//    border: 1px solid var.$color-gray-600;
//    border-radius: 300px;
//    padding: 0.6rem 1rem;
//    line-height: map-get(var.$spacers, 1) map-get(var.$spacers, 1);
// }

// === Style ===
header {
   width: 100%;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 999;
   transition: top 0.5s ease;
   background: transparent;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

   &.hidden {
      top: -100%;
      z-index: 1000;
   }

   .navbar {
      padding: map-get(var.$spacers, 3) map-get(var.$spacers, 16);

      .nav {
         width: 100%;
         display: flex;
         justify-content: space-between;
         a {
            font-weight: var.$font-weight-medium;
            color: var.$color-primary;

            font-size: map-get(map-get(var.$font-sizes, default), h6);
            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), h6);
             }

         }
         @include respond-to(md) {
            display: none;
          }
      }
   }

   .hamburger {
      display: none;
       // 768px 이하 (md)
       @include respond-to(md) {
         display: block;
       }
   }
}
// === header end ===

// === sec01 ===
.sec01 {
   width: 100%;
   height: 937px;
   position: relative;
   overflow: hidden;

   .frame {
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         display: block;
         // inline-gap 제거
         object-fit: cover;
         // 비율 유지하며 잘라내기(=cover)
      }
   }
}
// === sec01 end ===

// === Floating menu ===
.utility-buttons{
   position: fixed; // 화면에 고정
   bottom: 6rem; // 원하는 아래 여백
   right: 2rem; // 원하는 오른쪽 여백
   overflow: visible; // fac가 wrapper 밖으로 나와도 보이도록
   z-index: 1600;

   .kakaotalk-btn {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1500;
      margin-bottom: 10px;
   
      .fab {
         width: 50px;
         height: 50px;
         border: none;
         border-radius: 50%;
         background: var.$color-primary;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
         display: flex;
         justify-content: center;
         align-items: center;
         z-index: 3;
      }
   
      .fac {
         width: 225px;
         height: 50px;
         padding-left: 20px;
         border-radius: 64px;
         border: 1px solid var.$color-primary;
         background: #fff;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
         position: absolute;
         top: 0;
         right: 0;
         display: flex;
         align-items: center;
         z-index: 2;
         opacity: 0;
         transform: scaleX(0.9);
         transform-origin: center right;
         transition:transform 0.3s ease, opacity 0.3s ease;
   
         a {
            color: #344955;
            opacity: 0.8;
   
            &:hover {
               opacity: 1;
               color: darken(#344955, 2%);
            }
         }
      }
     
      &.active .fac {
         transform: scaleX(1);
         opacity: 1;
       }
   }
   .kakaotalk-btn02 {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1500;
      margin-bottom: 10px;
   
      .fab02 {
         width: 50px;
         height: 50px;
         border: none;
         border-radius: 50%;
         background: #3E2723;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
         display: flex;
         justify-content: center;
         align-items: center;
         z-index: 3;
      }
   
      .fac02 {
         width: 225px;
         height: 50px;
         padding-left: 20px;
         border-radius: 64px;
         border: 1px solid #3E2723;
         background: #fff;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
         position: absolute;
         top: 0;
         right: 0;
         display: flex;
         align-items: center;
         z-index: 2;
         opacity: 0;
         transform: scaleX(0.9);
         transform-origin: center right;
         transition:transform 0.3s ease, opacity 0.3s ease;
   
         a {
            color: #344955;
            opacity: 0.8;
   
            &:hover {
               opacity: 1;
               color: darken(#344955, 2%);
            }
         }
      }
     
      &.active .fac02 {
         transform: scaleX(1);
         opacity: 1;
       }
   }

   .btn-top{
      width: 50px;
      height: 50px;
      border: 1px solid var.$color-primary;
      border-radius: 100%;
      background: var.$color-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

// === sec02 ===
.sec02 {
   position: relative;

   .sec02_bg {
      position: relative;
      max-width: 862px;
      width: 100%;
      height: 754px;
      
      .sec02__img {
         max-width: 100%;
         height: auto;
         // 1280px 이하 (xl)
         @include respond-to(xl) {
           width: 533px;
           height: 594px;
         }
         // 768px 이하 (md)
         @include respond-to(md) {
           width: 768px;
           height: 248px;
         }
         // 576px 이하 (sm)
         @include respond-to(sm) {
           width: 576px;
           height: 218px;
         }
      }
   }

   .sec02_main-content {
      position: absolute;
      top: 0;
      left: 314px;
      padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);

      .sec02__title {
         margin-bottom: 100px;
         h1 {
            font-size: var.$font-size-h1;
            font-weight: var.$font-weight-bold;
            color: var.$color-white;
            margin-bottom: map-get(var.$spacers, 14);
            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), h1);
             }
            @include respond-to(md) {
               font-size: map-get(map-get(var.$font-sizes, xl), h1);
             }
            @include respond-to(sm) {
               font-size: map-get(map-get(var.$font-sizes, xl), h1);
             }
         }
      }
      .sec02__tab-list {
         margin-bottom: map-get(var.$spacers, 9);
         a {
            color: #fff;
            font-size: var.$font-size-h4; //24px
            font-weight: var.$font-weight-regular;
            padding: map-get(var.$spacers, 1);
            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
            @include respond-to(md) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
            @include respond-to(sm) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
         }
         a.active {
            font-weight: var.$font-weight-semibold;
            border-bottom: 1px solid var.$color-white;
         }
      }

      .sec02__right-content {
         margin-top: 76px;

         .sec02__subtitle {
            h2 {
               font-size: var.$font-size-h2;
               font-weight: var.$font-weight-bold;
               color: var.$color-black;
               text-transform: uppercase;
               margin-bottom: map-get(var.$spacers, 8); //40px

               @include respond-to(xl) {
                  font-size: map-get(map-get(var.$font-sizes, xl), h2);
                }
               @include respond-to(md) {
                  font-size: map-get(map-get(var.$font-sizes, xl), h2);
                }
               @include respond-to(sm) {
                  font-size: map-get(map-get(var.$font-sizes, xl), h2);
                }
            }
         }

         .sec02__tab-menu {
            display: none;

            .sec02__menu-content {
               display: flex;
               justify-content: space-between;

               .menu-img {
                  margin-bottom: map-get(var.$spacers, 7); //30px
               }

               .menu-name {
                  h4 {
                     font-size: var.$font-size-h4;
                     font-weight: var.$font-weight-regular;
                     color: var.$color-black;

                     @include respond-to(xl) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h4);
                      }
                     @include respond-to(md) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h4);
                      }
                     @include respond-to(sm) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h4);
                      }
                  }
               }
            }
         }
         .sec02__tab-menu.active {
            display: block;
         }
      }
   }
}
// === sec02 ===

// === sec03 ===
.sec03 {
   padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);

   .sec03_frame {
      margin: map-get(var.$spacers, 10) map-get(var.$spacers, 16);

      .sec03__title {
         margin: map-get(var.$spacers, 7);

         h2 {
            font-size: var.$font-size-h2;
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;

            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), h2);
             }
            @include respond-to(md) {
               font-size: map-get(map-get(var.$font-sizes, xl), h2);
             }
            @include respond-to(sm) {
               font-size: map-get(map-get(var.$font-sizes, xl), h2);
             }
         }
      }

      .sec03__subtitle h4 {
         font-size: var.$font-size-h4;
         font-weight: var.$font-weight-light;
         color: var.$color-black;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
      }
   }
}
// === sec03 end ===

// === sec04 ===
.sec04 {
   padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);

   .sec04_title {
      margin-bottom: map-get(var.$spacers, 10); //60px

      h2 {
         font-size: var.$font-size-h2;
         font-weight: var.$font-weight-bold;
         color: var.$color-primary;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
      }
   }

   .sec04_main-content {
      .sec04__img {
         max-width: 312px;
         margin-bottom: map-get(var.$spacers, 2); //24px
         position: relative;

         img {
            width: 100%;
            display: flex;
            justify-content: center;
         }

         .sec04__img-info-bg {
            width: 100%;
            height: 100%;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;
            background: var.$color-hover01;
            backdrop-filter: blur(6px);
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.35s ease-in-out;
            z-index: 8;

            .flower-img-info {
               position: absolute;
               bottom: 0;
               padding-left: map-get(var.$spacers, 7); //30px
               padding-bottom: map-get(var.$spacers, 7); //30px
               display: flex;
               flex-direction: column;
               gap: 20px;

               .flower-nametag {
                  .extrabold {
                     font-size: var.$font-size-h5;
                     font-weight: var.$font-weight-semibold;
                     color: var.$color-white;

                     @include respond-to(xl) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h5);
                      }
                     @include respond-to(md) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h5);
                      }
                     @include respond-to(sm) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h5);
                      }
                  }
                  .medium {
                     font-size: var.$font-size-h6;
                     font-weight: var.$font-weight-regular;
                     color: var.$color-white;
                     @include respond-to(xl) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h6);
                      }
                     @include respond-to(md) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h6);
                      }
                     @include respond-to(sm) {
                        font-size: map-get(map-get(var.$font-sizes, xl), h6);
                      }
                  }
               }
            }
         }
      }

      .sec04__img:hover .sec04__img-info-bg {
         opacity: 1;
      }

      .sec04__f-name {
         h4 {
            font-size: var.$font-size-h4;
            font-weight: var.$font-weight-semibold;
            color: var.$color-gray-700;
            margin-bottom: map-get(var.$spacers, 5); //24px;

            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
            @include respond-to(md) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
            @include respond-to(sm) {
               font-size: map-get(map-get(var.$font-sizes, xl), h4);
             }
         }

         .sec04__f-tag {
            font-size: var.$font-size-p;
            font-weight: var.$font-weight-regular;
            color: var.$color-gray-600;
            display: flex;
            gap: 10px;

            @include respond-to(xl) {
               font-size: map-get(map-get(var.$font-sizes, xl), p);
             }
            @include respond-to(md) {
               font-size: map-get(map-get(var.$font-sizes, xl), p);
             }
            @include respond-to(sm) {
               font-size: map-get(map-get(var.$font-sizes, xl), p);
             }
         }
      }
   }
}
// === sec04 end ===

// === sec05 ===
.sec05 {
   padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);

   .sec05_title {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: map-get(var.$spacers, 10); //60px

      .sec05__instagram-icon {
         width: 57px;
         img {
            width: 100%;
         }
      }

      h2 {
         font-size: var.$font-size-h2;
         font-weight: var.$font-weight-bold;
         color: var.$color-primary;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h2);
          }
      }
   }

   .sec05_content {
      .img_fluid {
         max-width: 100%;
         height: auto;
         display: block;
      }
   }
}
// === sec05 end ===

// === sec06 ===
.sec06 {
   padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0); //70px

   .sec06__text {
      margin-bottom: map-get(var.$spacers, 7); //30px;

      h4 {
         font-size: var.$font-size-h4;
         font-weight: var.$font-weight-light;
         color: var.$color-black;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
      }
   }

   .sec06__iconbox {
      // width: 23px;
      margin-bottom: map-get(var.$spacers, 7); //30px;
      margin: 0 auto map-get(var.$spacers, 7);

      // img {
      //    width: 100%;
      // }
   }

   .sec06__title {
      margin-bottom: map-get(var.$spacers, 9); //50px

      span {
         font-family: var.$font-title;
         font-size: var.$font-size-h4;
         font-weight: var.$font-weight-regular;
         color: var.$color-black;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
      }

      h4 {
         font-size: var.$font-size-h4;
         font-weight: var.$font-weight-semibold;
         color: var.$color-black;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), h4);
          }
      }
   }

   .sec06__button {
      font-size: var.$font-size-p;
      font-weight: var.$font-weight-light;
      letter-spacing: 0.1rem;
      color: var.$color-white;
   }
}
// === sec06 end ===

// === footer ===
.footer {
   padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0) map-get(var.$spacers, 9);
   background: var.$color-primary;

   .footer__logo {
      margin-bottom: map-get(var.$spacers, 4); //20px
   }
   // .footer__hr{
   //    color: var.$color-white;
   //    height: 1px;
   // }

   .footer__line {
      width: 100%;
      height: 1px;
      background: var.$color-white;
      margin-bottom: map-get(var.$spacers, 4); //20px
   }

   .footer__info-bar {
      display: flex;
      list-style: none;
      text-decoration: none;
      margin-bottom: map-get(var.$spacers, 6); //20px

      .footer__info-list {
         font-size: var.$font-size-p;
         font-weight: var.$font-weight-light;
         color: var.$color-white;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }

         & + .footer__info-list::before {
            content: "|";
            margin: map-get(var.$spacers, 1);
            color: inherit;
         }
      }
   }

   .copyright {
      p {
         font-size: var.$font-size-p;
         font-weight: var.$font-weight-extralight;
         color: var.$color-white;

         @include respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }
         @include respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }
         @include respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
          }
      }
   }

   .footer__right-info {
      text-align: right;
      font-size: var.$font-size-p;
      font-weight: var.$font-weight-extralight;
      color: var.$color-white;
      // border-bottom: 1px solid var.$color-white;

      @include respond-to(xl) {
         font-size: map-get(map-get(var.$font-sizes, xl), p);
       }
      @include respond-to(md) {
         font-size: map-get(map-get(var.$font-sizes, xl), p);
       }
      @include respond-to(sm) {
         font-size: map-get(map-get(var.$font-sizes, xl), p);
       }

      ul {
         margin-bottom: map-get(var.$spacers, 1); //10px;
      }
   }
}
// === footer end ===


