@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
   font-family: pretendard;
}

ul{
   margin: 0;
   margin-bottom: 0;
   margin-left: 0;
   padding: 0;
}

li{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

a{
   list-style: none;
   text-decoration: none;
}

// .col-md-12{
//    // margin-top: 0;
//    // margin-bottom: 0;
//    // margin-left: 0;
//    // margin-right: 0;
//    // margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-11{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-10{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-9{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-8{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-7{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-6{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-5{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-4{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-3{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-2{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }
// .col-md-1{
//    margin-top: 0;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    margin: 0;
//    padding: 0;
//    padding-left: 0;
//    padding-top: 0;
//    padding-bottom: 0;
//    padding-bottom: 0;
//    padding-right: 0;
// }

button{
   padding-block: 0;
   padding-inline: 0;
}

.your-style {
    font-family: 'Ogg TRIAL';
    font-weight: bold;
    font-style: normal;
}

