@use "common";
@use "variables" as var; // 스타일 에셋 (컬러/폰트)
@use "responsive" as resp;
@use "components"; // 컴포넌트
// @import 'normalize.scss'

.fp-watermark {
   display: none !important;
}

// === Header ===
header {
   width: 100%;
   padding: 0.625rem;
   margin: auto;
   position: fixed;
   text-align: center;
   align-items: center;
   z-index: 999;
   top: 0;
   transition: top 0.4s ease-in-out;

   &.header-bg {
      // background: rgba(var.$color-primary, 0.5);
      background: var.$color-white;
      // backdrop-filter: blur(4px);
      border-bottom: 1px solid rgba(var.$color-primary, 0.1);
   }
   &.hidden {
      top: -15%;
      transition: 0.3s;
      z-index: 1000;
   }

   .container {
      width: 100%;
      margin: 0 auto;
      .gnb {
         align-items: center;
         flex-direction: row;
         .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
      }
   }

   .nav-logo {
      a {
         list-style: none;
         text-decoration: none;
         font-family: var.$font-title;
         font-size: map-get(map-get(var.$font-sizes, default), h4);
         letter-spacing: 0.1rem;
         text-align: center;
         color: var.$color-primary;
         font-weight: var.$font-weight-medium;
         display: flex;
         gap: 0 10px;
      }
   }

   .nav-list {
      width: 640px;
      .nav {
         width: 100%;
         display: flex;
         justify-content: space-between;
         li {
            width: 160px;
            position: relative;
            // padding: 10px 20px;
            a {
               // width: 160px;
               list-style: none;
               text-decoration: none;
               text-align: center;
               color: var.$color-primary;
               font-size: map-get(map-get(var.$font-sizes, default), h7);
               font-weight: var.$font-weight-medium;
               &:hover {
                  color: darken(var.$color-primary, 10%);
               }
               &:after {
                  background-color: var.$color-primary;
               }
            }
         }
         li:first-child a {
            font-family: var.$font-title;
            font-size: map-get(map-get(var.$font-sizes, default), h6);
            letter-spacing: 0.11rem;
         }
         .sub-menu {
            display: none;
            position: absolute;
            justify-content: center;
            padding-top: 10px;
            li {
               padding: 10px 0;
               width: 160px;
               a {
                  width: 160px;
                  list-style: none;
                  text-decoration: none;
                  font-family: var.$font-body;
                  text-align: center;
                  color: var.$color-primary;
                  font-size: map-get(map-get(var.$font-sizes, default), p);
                  font-weight: var.$font-weight-medium;
                  &:hover {
                     color: darken(var.$color-primary, 10%);
                  }
                  &:after {
                     background-color: var.$color-primary;
                  }
               }
            }
         }
      }
      // .nav > li > a:after {
      //    display: block;
      //    width: 120px;
      //    margin-top: 10px;
      //    // margin-left: 20px;
      //    content: "";
      //    text-align: center;
      //    border-bottom: solid 2px rgba(var.$color-primary, 0.3);
      //    border-radius: 300px;
      //    transform: scaleX(0);
      //    transform-origin: left;
      //    transition: transform 0.3s ease-in-out;
      // }
      // .nav > li > a:hover:after {
      //    transform: scaleX(1);
      // }
      .nav > li:after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 20px;
         width: 120px;
         height: 2px;
         background-color: rgba(var.$color-primary, 0.3);
         border-radius: 300px;
         transform: scaleX(0);
         transform-origin: left;
         transition: transform 0.3s ease-in-out;
      }

      .nav > li:hover:after {
         transform: scaleX(1);
      }
      @include resp.respond-to(lg) {
         display: none;
      }
   }

   .hamburger {
      width: 24px;
      background: transparent;
      border: none;
      display: none;
      @include resp.respond-to(lg) {
         display: block;
      }

      .hamburger-box {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 5px 0;

         .hamburger-inner {
            width: 100%;
            height: 1px;
            border: 1px solid var.$color-primary;
            border-radius: 300px;
            background: var.$color-primary;
         }
      }
   }

   .hamburger:hover {
      opacity: 0.7;
   }

   .megamenu {
      position: fixed; // 화면 기준 고정
      top: 80px;
      left: 0;
      width: 100vw; // 화면 전체
      height: 100vh;
      background: #fff; // 예시
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%); // 화면 밖으로 완전히 이동
      transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);

      &.active {
         opacity: 1;
         visibility: visible;
         transform: translateX(0); // 화면 안으로 들어옴
      }
      // transform: translateX(100%);
      .megamenu-box {
         width: 100%;
         text-align: left;
         .megamenu-list {
            padding: 0 80px;
            ul {
               list-style: none;
               padding: 0;
               margin: 0;
               li {
                  margin: 1.2rem 0;
                  a {
                     font-size: var.$font-size-h1;
                     font-weight: var.$font-weight-extrabold;
                     color: transparent;
                     -webkit-text-stroke: 1.5px var.$color-primary;
                     text-decoration: none;
                     transition: all 0.2s ease;
                     text-align: center;
                     position: relative;
                     cursor: pointer;
                     &:hover {
                        color: var.$color-primary;
                     }
                  }
               }
            }
         }
      }
   }
}

// 애니메이션 효과 추가
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
@keyframes slideDown {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
// 메가메뉴 활성화 애니메이션
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
// === Header end ===

// === Fullpage ===
#fullpage {
   .swiper {
      width: 100vw;
      height: 100vh;
      .swiper-slide {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 2rem;
      }
   }

   // === Sec01 ===
   .sec01 {
      .sec01__title {
         span {
            font-family: var.$font-point;
            font-size: var.$font-size-point;
            color: var.$color-primary;
            font-weight: var.$font-weight-bold;
         }
      }
   }

   .sec02 {
      background: var.$color-primary;
      .sec02__text {
         margin-bottom: 60px;
         h3 {
            font-size: map-get(map-get(var.$font-sizes, default), h3);
            color: var.$color-white;
            font-weight: var.$font-weight-light;
            margin-bottom: 30px;
            span {
               font-family: var.$font-point;
               font-weight: var.$font-weight-bold;
            }
         }
         h1 {
            font-size: map-get(map-get(var.$font-sizes, default), h1);
            color: var.$color-white;
            font-weight: var.$font-weight-bold;
         }
      }
      .sec02__logo {
         h1 {
            font-family: var.$font-point;
            font-size: map-get(map-get(var.$font-sizes, default), h1);
            color: var.$color-white;
            font-weight: var.$font-weight-bold;
         }
      }
   }
   // === Sec01 end ===
}

// === Sec02 ===
.section-normal {
   min-height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sec03__faq {
   background: var.$color-bg01;
   .sec03__faq-left {
      display: flex;
      justify-content: left;
      .faq-title {
         // margin-bottom: 30px;
         margin-bottom: map-get(var.$spacers, 6);
         h4 {
            font-family: var.$font-point;
            font-size: map-get(map-get(var.$font-sizes, default), h4);
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;
         }
         h1 {
            font-family: var.$font-point;
            font-size: map-get(map-get(var.$font-sizes, default), h1);
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;
         }
      }
   }
   .sec03__faq-right {
      .accordion-header {
         button {
            font-size: map-get(map-get(var.$font-sizes, default), h6);
            color: var.$color-primary;
            font-weight: var.$font-weight-regular;
            background: var.$color-bg01;
         }
      }
      .accordion-body {
         font-size: map-get(map-get(var.$font-sizes, default), h7);
         font-weight: var.$font-weight-light;
         color: var.$color-gray-900;
         background: var.$color-bg01;
      }
      .accordion-button::after {
         background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23ff3a1e" stroke-width="2" d="M1.5 6.5l6 6 6-6"/></svg>');
      }
   }
}
// === Sec02 end ===

// === Sec03 Footer ===
.footer {
   padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0) map-get(var.$spacers, 9);
   background: var.$color-primary;

   .footer__logo {
      margin-bottom: map-get(var.$spacers, 4); //20px
   }
   // .footer__hr{
   //    color: var.$color-white;
   //    height: 1px;
   // }

   .footer__line {
      width: 100%;
      height: 1px;
      background: var.$color-white;
      margin-bottom: map-get(var.$spacers, 4); //20px
   }

   .footer__info-bar {
      display: flex;
      list-style: none;
      text-decoration: none;
      margin-bottom: map-get(var.$spacers, 6); //20px

      .footer__info-list {
         font-size: var.$font-size-p;
         font-weight: var.$font-weight-light;
         color: var.$color-white;

         @include resp.respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
         }
         @include resp.respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, md), p);
         }
         @include resp.respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, sm), p);
         }

         & + .footer__info-list::before {
            content: "|";
            margin: map-get(var.$spacers, 1);
            color: inherit;
         }
      }
   }

   .copyright {
      p {
         font-size: var.$font-size-p;
         font-weight: var.$font-weight-extralight;
         color: var.$color-white;

         @include resp.respond-to(xl) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
         }
         @include resp.respond-to(md) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
         }
         @include resp.respond-to(sm) {
            font-size: map-get(map-get(var.$font-sizes, xl), p);
         }
      }
   }

   .footer__right-info {
      text-align: right;
      font-size: var.$font-size-p;
      font-weight: var.$font-weight-extralight;
      color: var.$color-white;
      // border-bottom: 1px solid var.$color-white;

      @include resp.respond-to(xl) {
         font-size: map-get(map-get(var.$font-sizes, xl), p);
      }
      @include resp.respond-to(md) {
         font-size: map-get(map-get(var.$font-sizes, md), p);
      }
      @include resp.respond-to(sm) {
         font-size: map-get(map-get(var.$font-sizes, sm), p);
      }

      ul {
         margin-bottom: map-get(var.$spacers, 1); //10px;
      }
   }
}
// === Sec03 Footer end ===
