@use "components"; // 컴포넌트
@use "variables" as var; // 스타일 에셋 (컬러/폰트)
@use "responsive" as resp;
@use "common";


// === Sec01 ===
.sec01{
   padding-top: map-get(var.$spacers, 14);

   .sec01-title{
      h1 {
            font-family: var.$font-point;
            @include resp.responsive-font-size(h1);
            font-weight: bold;
            color: var.$color-primary;
            // letter-spacing: 0.4rem;
        }
   }
}
// === Sec01 end ===


// === Sec02 ===
.sec02 {
  max-width: 1920px;
  display: flex;
  justify-content: center;
//   overflow: hidden;

  .image-wrapper {
    width: 100vw;
    height: 50vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
// === Sec02 end ===


// === sec03 ===
.sec03 {
   padding: map-get(var.$spacers, 14) 0;
   .nav-tabs {
      justify-content: left;
      border-bottom: none;
      margin-bottom: map-get(var.$spacers, 7);
      gap: 10px 10px;
      // padding-left: 24px;
      .nav-link {
         border: 1px solid;
         border-radius: 300px;
         border-color: var.$color-primary;
         // border-bottom: 1px solid transparent;
         @include resp.responsive-font-size(h6);
         color: var.$color-primary;
         font-weight: var.$font-weight-regular;
         transition: all 0.2s ease-in-out;
         &:hover {
             transform: scale(1.02);
         }
      }
   }
   .nav-tabs .nav-item.show .nav-link,
   .nav-tabs .nav-link.active {
      // border-color: var.$color-primary;
      // border: 1px solid;
      background: var.$color-primary;
      color: var.$color-white;
      font-weight: var.$font-weight-regular;
   }

   .tab-content {
      .tab-content__list {
         gap: map-get(var.$spacers, 7) 0;
         .menuContentBox {
            align-items: center;
            .menuContent {
               position: relative;
               border-radius: 10px;
               background: rgba(var.$color-black, 0.05);
               padding: map-get(var.$spacers, 10) map-get(var.$spacers, 7);
               transition: all 0.2s ease-in-out;
               &:hover {
                   transform: scale(1.01);
               }

               // .menuContent__img{
               //    max-width: 306px;
               //    width: 100%;
               //    max-height: 370px;
               //    height: 100%;
               // }
               img {
                  width: 90%;
               }
            }
            .menuContent__hover {
               width: 100%;
               height: 100%;
               border-radius: 10px;
               background: rgba(var.$color-black, 0.6);
               // backdrop-filter: blur(4px);
               position: absolute;
               left: 0;
               bottom: 0;
               opacity: 0;
               visibility: hidden;
               transition: all 0.3s ease-in-out;
               .menuContent__hover-info {
                  position: absolute;
                  bottom: 0;
                  padding: 30px;
                  display: flex;
                  flex-direction: column;
                  gap: 10px 0;
                  h6 {
                     @include resp.responsive-font-size(h6);
                     color: var.$color-white;
                     font-weight: var.$font-weight-regular;
                     text-align: left;
                  }
               }
            }
            .menuContent:hover {
               .menuContent__hover {
                  opacity: 1;
                  visibility: visible;
               }
            }
            .menuCotent__name {
               h6 {
                  @include resp.responsive-font-size(h6);
                  color: var.$color-gray-800;
                  text-align: left;
                  margin-top: map-get(var.$spacers, 4);
               }
            }
         }
      }
   }
}


// === Sec04 ===
.sec04 {
   // max-width: 1920px;
   // padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);
   overflow: hidden;

   .marqueeBox {
      width: 100vw;
      overflow: hidden;
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
   }
   
   .marquee {
      display: flex;
      white-space: nowrap;
      animation: marquee 15s linear infinite;
      align-items: center;
   
      &:hover {
         animation-play-state: paused;
      }
   
      p {
         @include resp.responsive-font-size(point);
         margin: 0;
         white-space: nowrap;
         display: inline-block;
         font-weight: bold;
      }

   }

   .marquee--main p {
      color: var.$color-white;
      -webkit-text-stroke: 1.5px var.$color-primary;
   }

   .marquee--sub {
      animation-duration: 30s;
      //   animation-direction: reverse;

      p {
         color: #ff3a1e;
      }
   }
   
   @keyframes marquee {
      0% {
         transform: translateX(0%);
      }
      100% {
         transform: translateX(-50%);
      }
   }
}
// === Sec04 end ===


// === Sec05 ===
.sec05 {
      padding: map-get(var.$spacers, 14) 0;
//   min-height: 99vh;
  .sec05-imgbox {
  //   padding: 2em 5% 4em;
    max-width: 1296px;
    margin: 0 auto;
    text-align: left;
  }
  
  .content {
   //  padding: 2em 0 3em;
    margin: 0 auto;
    line-height: 0;
  }
  
  .masonry {
    column-count: 4;
    column-gap: 1rem;
    width: 100%;
    
    // 반응형
    @media (max-width: 1024px) {
      column-count: 3;
    }
    @media (max-width: 768px) {
      column-count: 2;
    }
    @media (max-width: 480px) {
      column-count: 1;
    }
  }
  
  .item-frame {
    display: block;           // masonry에서 block 또는 inline-block!
    width: 100%;              // 각 column 너비 100%로 맞춤
    margin-bottom: 1rem;      // 이미지 간 여백
    border-radius: 0.4em;
    // 필요하다면 box-shadow, overflow: hidden 등 추가 가능
  
    &:hover {
      cursor: zoom-in;
    }
  }
  
  // 줌인 기능 관련 (JS에서 .wrapper와 .zoomed 사용)
  .wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
  }
  
  .zoomed {
    position: absolute;
    top: 0;
    left: 0;
    width: 200% !important;
    height: auto;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: opacity 0.2s;
  }
}
// === Sec05 end ===


// === Footer ===
.footer {
   padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0) map-get(var.$spacers, 9);
   background: var.$color-primary;

   .footer__logo {
       margin-bottom: map-get(var.$spacers, 4); //20px
   }
   // .footer__hr{
   //    color: var.$color-white;
   //    height: 1px;
   // }

   .footer__line {
       width: 100%;
       height: 1px;
       background: var.$color-white;
       margin-bottom: map-get(var.$spacers, 4); //20px
   }

   .footer__info-bar {
       display: flex;
       list-style: none;
       text-decoration: none;
       margin-bottom: map-get(var.$spacers, 6); //20px

       .footer__info-list {
           @include resp.responsive-font-size(p);
           font-weight: var.$font-weight-light;
           color: var.$color-white;

           & + .footer__info-list::before {
               content: "|";
               margin: map-get(var.$spacers, 1);
               color: inherit;
           }
       }
   }

   .copyright {
       p {
           @include resp.responsive-font-size(p);
           font-weight: var.$font-weight-extralight;
           color: var.$color-white;
       }
   }

   .footer__right-info {
       text-align: right;
       @include resp.responsive-font-size(p);
       font-weight: var.$font-weight-extralight;
       color: var.$color-white;
       // border-bottom: 1px solid var.$color-white;

       ul {
           margin-bottom: map-get(var.$spacers, 1); //10px;
       }
   }
}
// === Footer end ===