@use "components";
@use "responsive" as resp;
@use "variables" as var;
@use "common";

// === Sec01 ===
.sec01 {
   padding-top: map-get(var.$spacers, 14);

   .sec01__title {
      h1 {
         font-family: var.$font-point;
         @include resp.responsive-font-size(h1);
         font-weight: bold;
         color: var.$color-primary;
      }
   }
}
// === Sec01 end ===

// === Sec02 ===
.sec02 {
   padding: map-get(var.$spacers, 9) 0;

   .sec02__title {
      margin-bottom: map-get(var.$spacers, 7);
      h4 {
         font-family: var.$font-point;
         @include resp.responsive-font-size(h4);
         font-weight: bold;
         color: var.$color-primary;
      }
   }
   .sec02__map {
      height: 400px;
      #map {
         height: 100%;
         border-radius: 10px;
      }
   }
}
// === Sec02 end ===

// === Sec03 ===
.sec03 {
   padding-top: map-get(var.$spacers, 9);
   padding-bottom: map-get(var.$spacers, 14);

   .sec03__title {
      margin-bottom: map-get(var.$spacers, 7);
      h4 {
         font-family: var.$font-point;
         @include resp.responsive-font-size(h4);
         font-weight: bold;
         color: var.$color-primary;
      }
   }

   .sec03__table {
      width: 100%;
      border-collapse: collapse;

      .sec03__table__thead {
         tr {
            width: 100%;
            height: 90px;
            border-top: 1px solid var.$color-primary;
            border-bottom: 1px solid var.$color-primary;
         }
         td {
            @include resp.responsive-font-size(h7);
            font-weight: var.$font-weight-medium;
            color: var.$color-primary;
            vertical-align: middle;
         }
      }
      .sec03__table__tbody {
         tr {
            width: 100%;
            height: 90px;
            border-top: 1px solid rgba(var.$color-primary, 0.3);
            border-bottom: 1px solid rgba(var.$color-primary, 0.3);
            cursor: pointer;

            &:hover {
               background-color: rgba(var.$color-black, 0.02);
            }
         }
         td {
            @include resp.responsive-font-size(h7);
            font-weight: var.$font-weight-regular;
            color: var.$color-primary;
            text-align: center;
            vertical-align: middle;
            a {
               color: var.$color-primary;
            }
         }
      }
   }
}
// === Sec03 end ===

// === Sec04 ===
.sec04__faq {
   background: var.$color-bg01;
   padding: map-get(var.$spacers, 14);
   margin-bottom: map-get(var.$spacers, 14);
   
   .sec04__faq-left {
      display: flex;
      justify-content: left;
      .faq-title {
         // margin-bottom: 30px;
         margin-bottom: map-get(var.$spacers, 6);
         h4 {
            @include resp.responsive-font-size(h4);
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;
         }
         h1 {
            @include resp.responsive-font-size(h1);
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;
         }
      }
   }
   .sec04__faq-right {
      .accordion-header {
         button {
            @include resp.responsive-font-size(h6);
            color: var.$color-primary;
            font-weight: var.$font-weight-regular;
            background: var.$color-bg01;
         }
      }
      .accordion-body {
         @include resp.responsive-font-size(h7);
         font-weight: var.$font-weight-light;
         color: var.$color-gray-900;
         background: var.$color-bg01;
      }
      .accordion-button::after {
         background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23ff3a1e" stroke-width="2" d="M1.5 6.5l6 6 6-6"/></svg>');
      }
   }
}
// === Sec04 end ===

// === Footer ===
.footer {
   padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0) map-get(var.$spacers, 9);
   background: var.$color-primary;

   .footer__logo {
      margin-bottom: map-get(var.$spacers, 4);
   }

   .footer__line {
      width: 100%;
      height: 1px;
      background: var.$color-white;
      margin-bottom: map-get(var.$spacers, 4);
   }

   .footer__info-bar {
      display: flex;
      list-style: none;
      text-decoration: none;
      margin-bottom: map-get(var.$spacers, 6);

      .footer__info-list {
         @include resp.responsive-font-size(p);
         font-weight: var.$font-weight-light;
         color: var.$color-white;

         & + .footer__info-list::before {
            content: "|";
            margin: map-get(var.$spacers, 1);
            color: inherit;
         }
      }
   }

   .copyright {
      p {
         @include resp.responsive-font-size(p);
         font-weight: var.$font-weight-extralight;
         color: var.$color-white;
      }
   }

   .footer__right-info {
      text-align: right;
      @include resp.responsive-font-size(p);
      font-weight: var.$font-weight-extralight;
      color: var.$color-white;

      ul {
         margin-bottom: map-get(var.$spacers, 1); //10px;
      }
   }
}
// === Footer end ===

// === Modal ===
.popup-modal {
   opacity: 0;
   visibility: hidden;
   display: block;
   transition: all 0.3s ease;
   width: 700px;
   height: 640px;
   border: 1px solid var.$color-primary;
   border-radius: 10px;
   position: fixed;
   z-index: 9999;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 30px;
   background: var.$color-white;

   &.show {
      opacity: 1;
      visibility: visible;
   }

   .modal__box {
      border: none;
      max-width: 700px;
      max-height: 640px;
   }

   .tab__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: map-get(var.$spacers, 7);

      .modal__close {
         border: none;
         background: none;
      }

      .modal__tabs {
         display: flex;
         justify-content: left;
         border-bottom: none;
         gap: 10px 10px;
         .modal__link {
            border: 1px solid;
            border-radius: 300px;
            border-color: var.$color-primary;
            background: var.$color-white;
            padding: 5px 24px;
            @include resp.responsive-font-size(h6);
            color: var.$color-primary;
            font-weight: var.$font-weight-regular;
         }
      }
      .modal__tabs .modal__item.show .modal__link,
      .modal__tabs .modal__item .modal__link.active {
         background: var.$color-primary;
         color: var.$color-white;
         font-weight: var.$font-weight-regular;
      }
   }

   .tab-content {
      width: 100%;

      .modal__content {
         width: 100%;

         .modal__map {
            width: 100%;
            margin-bottom: map-get(var.$spacers, 7);

            .modal__map-content {
               width: 100%;
               height: 200px !important;
               border-radius: 10px;
            }
         }
      }
      .modal__content__title {
         margin-bottom: map-get(var.$spacers, 1);
         h4 {
            @include resp.responsive-font-size(h4);
            color: var.$color-black;
            font-weight: var.$font-weight-semibold;
         }
      }

      .modal__content__info {
         display: flex;
         justify-content: space-between;
         gap: 24px 24px;

         .content__text {
            width: 100%;
            gap: 10px;

            .content__text-title {
               span {
                  display: inline-block;
                  @include resp.responsive-font-size(h6);
                  color: var.$color-gray-800;
                  font-weight: var.$font-weight-medium;
                  margin-bottom: 10px;
               }
            }
            span {
               @include resp.responsive-font-size(h7);
               color: var.$color-gray-600;
               font-weight: var.$font-weight-light;
            }
            .address {
               display: flex;
               flex-direction: column;
               margin-bottom: map-get(var.$spacers, 2);
            }
            .phonenumber {
               display: flex;
               flex-direction: column;
               margin-bottom: map-get(var.$spacers, 2);
            }
            .operating-time {
               display: flex;
               flex-direction: column;
               margin-bottom: map-get(var.$spacers, 8);
            }
         }
      }
      .modal__socail-btn {
         display: flex;
         gap: 0 10px;
         .social-btn {
            border: none;
            background: none;
         }
      }
   }
}

.modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(var.$color-black, 0.7);
   backdrop-filter: blur(5px);
   z-index: 9998;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
   &.show {
      opacity: 1;
      visibility: visible;
   }
}
// === Modal end ===
