@use "components";
@use "variables" as var;
@use "responsive" as resp;
@use "common";


// === Sec01 ===
.sec01 {
    width: 100%;
    background-color: #fffeef;
    align-items: center;
    justify-self: center;
    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec01-title {
        h1 {
            font-family: var.$font-point;
            @include resp.responsive-font-size(point);
            font-weight: bold;
            color: var.$color-primary;
            // letter-spacing: 0.4rem;
        }
        .sec01-title__content {
            margin-top: 100px;
            h2 {
                font-family: var.$font-point;
                @include resp.responsive-font-size(h2);
                letter-spacing: 0.4rem;
                color: var.$color-primary;
                font-weight: bold;
                margin-bottom: map-get(var.$spacers, 7);
            }
            h5 {
                font-family: var.$font-point;
                @include resp.responsive-font-size(h5);
                color: var.$color-primary;
                font-weight: normal;
                line-height: 150%;
            }
        }
    }
}
// === Sec01 end ===

// === Sec02 ===
.sec02 {
    padding: 100px 0;
    .sec02-title {
        h1 {
            @include resp.responsive-font-size(h1);
            color: var.$color-primary;
            font-weight: var.$font-weight-bold;
            margin-bottom: map-get(var.$spacers, 9);
        }
    }
    .nav-tabs {
        justify-content: left;
        border-bottom: none;
        margin-bottom: map-get(var.$spacers, 7);
        gap: 10px 10px;
        // padding-left: 24px;
        .nav-link {
            border: 1px solid;
            border-radius: 300px;
            border-color: var.$color-primary;
            @include resp.responsive-font-size(h6);
            color: var.$color-primary;
            font-weight: var.$font-weight-regular;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        // border-color: var.$color-primary;
        border: none;
        background: var.$color-primary;
        color: var.$color-white;
        font-weight: var.$font-weight-regular;
    }

    .tab-content {
        .tab-content__pack {
            gap: 24px 0;
            padding: 0;
            margin: 0;
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
            .menuContentBox {
                align-items: center;
                transition: all 0.2s ease-in-out;
                &:hover {
                    transform: scale(1.01);
                }

                .menuContent {
                    // height: 420px;
                    border: 1px solid var.$color-primary;
                    border-radius: 10px;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }

                    .menuCotent__name {
                        h6 {
                            @include resp.responsive-font-size(h6);
                            color: var.$color-primary;
                            margin-top: map-get(var.$spacers, 4);
                            .br-none01 {
                                display: none;
                            }
                            .br-none02 {
                                display: none;
                            }
                        }
                        .pd-none01 {
                            padding-bottom: 19.6px;
                            @media (min-width: 420px) {
                                padding-bottom: 0;
                            }
                            @include resp.respond-to(lg) {
                                padding-bottom: 28px;
                            }
                            @media (min-width: 1200px) {
                                padding-bottom: 0;
                            }
                        }
                        .pd-none02 {
                            padding-bottom: 19.6px;
                            @media (min-width: 420px) {
                                padding-bottom: 0;
                            }
                            @include resp.respond-to(md) {
                                padding-bottom: 25.2px;
                            }
                            @media (min-width: 992px) {
                                padding-bottom: 0;
                            }
                            @include resp.respond-to(lg) {
                                padding-bottom: 28px;
                            }
                            @media (min-width: 1200px) {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                .cafe__menuContent {
                    padding: map-get(var.$spacers, 8) 0;
                    img {
                        width: 81%;
                    }
                }
                .flower__menuContent {
                    padding: map-get(var.$spacers, 7);
                }
            }
        }
    }

    .sec02-moreBtn {
        margin-top: map-get(var.$spacers, 9);
        
        .sec02-moreBtn__text {
            @include resp.responsive-font-size(p);
            color: var.$color-primary;
            background: transparent;
            border: 1px solid var.$color-primary;
            border-radius: 300px;
            transition: all 0.2s ease-in-out;
            &:hover {
                background: var.$color-primary;
                color: var.$color-white;
                transform: scale(1.01);
            }
        }
        
    }
}
// === Sec02 end ===

// === Sec03 ===
.sec03 {
    padding: map-get(var.$spacers, 10) map-get(var.$spacers, 0);
    @include resp.respond-to(md) {
        padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);
    }

    .sec03-frame {
        width: 100%;
        @include resp.respond-to(md) {
            margin: map-get(var.$spacers, 10) auto;
        }
        @include resp.respond-to(lg) {
            margin: map-get(var.$spacers, 14) auto;
        }

        .sec03-title {
            margin: map-get(var.$spacers, 7) 0;

            h2 {
                @include resp.responsive-font-size(h2);
                font-weight: var.$font-weight-bold;
                color: var.$color-primary;
                margin-bottom: map-get(var.$spacers, 9);
            }

            h5 {
                @include resp.responsive-font-size(h5);
                font-weight: var.$font-weight-light;
                color: var.$color-black;
                line-height: 160%;
            }
        }
    }
}
// === Sec03 end ===

// === Sec04 ===
.instagram {
    padding: map-get(var.$spacers, 14) map-get(var.$spacers, 0);

    .sec04_title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 50px;
        margin-bottom: map-get(var.$spacers, 10);

        i {
            @include resp.responsive-font-size(h1);
            font-weight: var.$font-weight-regular;
            color: var.$color-primary;
        }

        h2 {
            @include resp.responsive-font-size(h2);
            font-weight: var.$font-weight-bold;
            color: var.$color-primary;

            // @include resp.respond-to(xl) {
            //     font-size: map-get(map-get(var.$font-sizes, xl), h2);
            // }
            // @include resp.respond-to(md) {
            //     font-size: map-get(map-get(var.$font-sizes, md), h2);
            // }
            // @include resp.respond-to(sm) {
            //     font-size: map-get(map-get(var.$font-sizes, sm), h2);
            // }
        }
    }

    .sec04__insta-content {
        gap: 24px 0;
        .sec04_content {
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.01);
            }
            img.img-fluid {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}
// === Sec04 end ===

// === Sec05 ===
.sec05-order {
    padding: map-get(var.$spacers, 10) 0 12.5rem 0; //70px
    @include resp.respond-to(md) {
        padding: map-get(var.$spacers, 10) 0 12.5rem 0; //70px
    }

    .sec05__text {
        margin-bottom: map-get(var.$spacers, 11); //30px;

        h4 {
            @include resp.responsive-font-size(h4);
            font-weight: var.$font-weight-light;
            color: var.$color-black;
        }
    }

    .sec05__iconbox {
        margin-bottom: map-get(var.$spacers, 11); //30px;
    }

    .sec05__title {
        margin-bottom: map-get(var.$spacers, 7); //50px

        span {
            font-family: var.$font-title;
            @include resp.responsive-font-size(h2);
            font-weight: var.$font-weight-regular;
            color: var.$color-black;
        }

        h3 {
            @include resp.responsive-font-size(h2);
            font-weight: var.$font-weight-semibold;
            color: var.$color-black;
        }
    }

    .sec05__button {
        @include resp.responsive-font-size(p);
        font-weight: var.$font-weight-light;
        letter-spacing: 0.1rem;
        color: var.$color-white;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}
// === Sec05 end ===

// === Footer ===
.footer {
    padding: map-get(var.$spacers, 11) map-get(var.$spacers, 0) map-get(var.$spacers, 9);
    background: var.$color-primary;

    .footer__logo {
        margin-bottom: map-get(var.$spacers, 4); //20px
    }

    .footer__line {
        width: 100%;
        height: 1px;
        background: var.$color-white;
        margin-bottom: map-get(var.$spacers, 4); //20px
    }

    .footer__info-bar {
        display: flex;
        list-style: none;
        text-decoration: none;
        margin-bottom: map-get(var.$spacers, 6); //20px

        .footer__info-list {
            @include resp.responsive-font-size(p);
            font-weight: var.$font-weight-light;
            color: var.$color-white;

            & + .footer__info-list::before {
                content: "|";
                margin: map-get(var.$spacers, 1);
                color: inherit;
            }
        }
    }

    .copyright {
        p {
            @include resp.responsive-font-size(p);
            font-weight: var.$font-weight-extralight;
            color: var.$color-white;
        }
    }

    .footer__right-info {
        text-align: right;
        @include resp.responsive-font-size(p);
        font-weight: var.$font-weight-extralight;
        color: var.$color-white;

        ul {
            margin-bottom: map-get(var.$spacers, 1); //10px;
        }
    }
}
// === Footer end ===
