@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: pretendard;
  font-size: 16px;
}

ul {
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  line-height: 140%;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Bold.woff2") format("woff2"), url("../fonts/OggTRIAL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Medium.woff2") format("woff2"), url("../fonts/OggTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Regular.woff2") format("woff2"), url("../fonts/OggTRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Light.woff2") format("woff2"), url("../fonts/OggTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Thin.woff2") format("woff2"), url("../fonts/OggTRIAL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
button {
  padding-block: 0;
  padding-inline: 0;
}

.your-style {
  font-family: "Ogg TRIAL";
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 16px;
}

.btn-bn {
  background: transparent;
  border: none;
}

.btn-order {
  background: #000000;
  border: none;
  border-radius: 300px;
  padding: 12px 30px;
}

.flower-box {
  box-shadow: 0 0 0 1px #a0a0a0 inset;
  border-radius: 5px;
  padding: 37px 36px;
}

header {
  width: 100%;
  height: 80px;
  padding: 0.625rem 0;
  margin: auto;
  position: fixed;
  text-align: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  transition: top 0.4s ease-in-out;
}
header.header-bg {
  background: #ffffff;
  border-bottom: 1px solid rgba(255, 58, 30, 0.1);
}
header.hidden {
  top: -15%;
  transition: 0.3s;
  z-index: 1000;
}
header .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
header .container .gnb {
  align-items: center;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
header .container .gnb .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-logo {
  z-index: 9999;
  align-items: center;
}
header .nav-logo a {
  font-family: "Cabinest", serif;
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.688rem;
  text-align: center;
  color: #ff3a1e;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 0 10px;
}
@media (min-width: 375px) {
  header .nav-logo a {
    font-size: 1.375rem;
  }
}
@media (min-width: 576px) {
  header .nav-logo a {
    font-size: 1.375rem;
  }
}
@media (min-width: 768px) {
  header .nav-logo a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  header .nav-logo a {
    font-size: 1.625rem;
  }
}
@media (min-width: 1280px) {
  header .nav-logo a {
    font-size: 1.625rem;
  }
}
@media (min-width: 1560px) {
  header .nav-logo a {
    font-size: 1.75rem;
  }
}
header .nav-list {
  width: 520px;
  z-index: 9999;
  display: none;
  align-items: center;
}
@media (min-width: 1024px) {
  header .nav-list {
    display: flex;
    justify-content: space-between;
  }
}
header .nav-list li {
  width: 130px;
  position: relative;
  padding: 10px 0;
}
header .nav-list li a {
  font-family: "Cabinest", serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #ff3a1e;
  font-size: 0.875rem;
  font-weight: 500;
}
@media (min-width: 375px) {
  header .nav-list li a {
    font-size: 0.875rem;
  }
}
@media (min-width: 576px) {
  header .nav-list li a {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  header .nav-list li a {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  header .nav-list li a {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  header .nav-list li a {
    font-size: 1.25rem;
  }
}
@media (min-width: 1560px) {
  header .nav-list li a {
    font-size: 1.375rem;
  }
}
header .nav-list li a:hover {
  color: #ea1d00;
}
header .nav-list li a:after {
  background-color: #ff3a1e;
}
header .nav-list > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 110px;
  height: 2px;
  background-color: rgba(255, 58, 30, 0.3);
  border-radius: 300px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
header .nav-list > li:hover:after {
  transform: scaleX(1);
}

.hamburger {
  width: 24px;
  background: transparent;
  border: none;
  display: block;
  z-index: 9999;
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger .hamburger-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.hamburger .hamburger-box .hamburger-inner {
  width: 100%;
  height: 1px;
  border: 1px solid #ff3a1e;
  border-radius: 300px;
  background: #ff3a1e;
}
.hamburger:hover {
  opacity: 0.7;
}

.megamenu {
  top: auto;
  left: auto;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 9990;
}
.megamenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.megamenu .megamenu-box {
  width: 100%;
  text-align: left;
}
.megamenu .megamenu-box .megamenu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.megamenu .megamenu-box .megamenu-list ul li {
  margin: 1.2rem 0;
}
.megamenu .megamenu-box .megamenu-list ul li a {
  font-size: 2.25rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px #ff3a1e;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  position: relative;
  cursor: pointer;
}
@media (min-width: 375px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.25rem;
  }
}
@media (min-width: 576px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.625rem;
  }
}
@media (min-width: 1024px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 3.375rem;
  }
}
@media (min-width: 1280px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 3.375rem;
  }
}
@media (min-width: 1560px) {
  .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 4rem;
  }
}
.megamenu .megamenu-box .megamenu-list ul li a:hover {
  color: #ff3a1e;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  display: block;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  width: 100%;
  padding: 0.625rem;
  margin: auto;
  position: fixed;
  text-align: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  transition: top 0.4s ease-in-out;
}
header.header-bg {
  background: #ffffff;
  border-bottom: 1px solid rgba(255, 58, 30, 0.1);
}
header.hidden {
  top: -15%;
  transition: 0.3s;
  z-index: 1000;
}
header .container {
  width: 100%;
  margin: 0 auto;
}
header .container .gnb {
  align-items: center;
  flex-direction: row;
}
header .container .gnb .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-logo {
  z-index: 9999;
}
header .nav-logo a {
  font-family: "Cabinest", serif;
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #ff3a1e;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 0 10px;
}
@media (min-width: 375px) {
  header .nav-logo a {
    font-size: 1.375rem;
  }
}
@media (min-width: 576px) {
  header .nav-logo a {
    font-size: 1.375rem;
  }
}
@media (min-width: 768px) {
  header .nav-logo a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  header .nav-logo a {
    font-size: 1.625rem;
  }
}
@media (min-width: 1280px) {
  header .nav-logo a {
    font-size: 1.625rem;
  }
}
@media (min-width: 1560px) {
  header .nav-logo a {
    font-size: 1.75rem;
  }
}
header .nav-list {
  width: 640px;
  z-index: 9999;
  display: none;
}
@media (min-width: 1024px) {
  header .nav-list {
    display: block;
  }
}
header .nav-list .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-list .nav li {
  width: 160px;
  position: relative;
  padding-bottom: 10px;
}
header .nav-list .nav li a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #ff3a1e;
  font-size: 0.875rem;
  font-weight: 500;
}
@media (min-width: 375px) {
  header .nav-list .nav li a {
    font-size: 0.875rem;
  }
}
@media (min-width: 576px) {
  header .nav-list .nav li a {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  header .nav-list .nav li a {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  header .nav-list .nav li a {
    font-size: 1.125rem;
  }
}
@media (min-width: 1280px) {
  header .nav-list .nav li a {
    font-size: 1.125rem;
  }
}
@media (min-width: 1560px) {
  header .nav-list .nav li a {
    font-size: 1.125rem;
  }
}
header .nav-list .nav li a:hover {
  color: #ea1d00;
}
header .nav-list .nav li a:after {
  background-color: #ff3a1e;
}
header .nav-list .nav li:first-child a {
  font-family: "Cabinest", serif;
  font-size: 0.875rem;
  letter-spacing: 0.11rem;
}
@media (min-width: 375px) {
  header .nav-list .nav li:first-child a {
    font-size: 0.875rem;
  }
}
@media (min-width: 576px) {
  header .nav-list .nav li:first-child a {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  header .nav-list .nav li:first-child a {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  header .nav-list .nav li:first-child a {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  header .nav-list .nav li:first-child a {
    font-size: 1.25rem;
  }
}
@media (min-width: 1560px) {
  header .nav-list .nav li:first-child a {
    font-size: 1.375rem;
  }
}
header .nav-list .nav .sub-menu {
  display: none;
  position: absolute;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  z-index: 9999;
}
header .nav-list .nav .sub-menu li {
  padding: 10px 0;
  width: 160px;
}
header .nav-list .nav .sub-menu li a {
  width: 160px;
  list-style: none;
  text-decoration: none;
  font-family: "Pretendard", sans-serif;
  text-align: center;
  color: #ff3a1e;
  font-size: 0.75rem;
  font-weight: 500;
}
@media (min-width: 375px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 0.75rem;
  }
}
@media (min-width: 576px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 1rem;
  }
}
@media (min-width: 1560px) {
  header .nav-list .nav .sub-menu li a {
    font-size: 1.125rem;
  }
}
header .nav-list .nav .sub-menu li a:hover {
  color: #ea1d00;
}
header .nav-list .nav .sub-menu li a:after {
  background-color: #ff3a1e;
}
header .nav-list .nav > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 120px;
  height: 2px;
  background-color: rgba(255, 58, 30, 0.3);
  border-radius: 300px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
header .nav-list .nav > li:hover:after {
  transform: scaleX(1);
}
header .hamburger {
  width: 24px;
  background: transparent;
  border: none;
  display: block;
}
@media (min-width: 1024px) {
  header .hamburger {
    display: none;
  }
}
header .hamburger .hamburger-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
header .hamburger .hamburger-box .hamburger-inner {
  width: 100%;
  height: 1px;
  border: 1px solid #ff3a1e;
  border-radius: 300px;
  background: #ff3a1e;
}
header .hamburger:hover {
  opacity: 0.7;
}
header .megamenu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
header .megamenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
header .megamenu .megamenu-box {
  width: 100%;
  text-align: left;
}
header .megamenu .megamenu-box .megamenu-list {
  padding: 0 80px;
}
header .megamenu .megamenu-box .megamenu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .megamenu .megamenu-box .megamenu-list ul li {
  margin: 1.2rem 0;
}
header .megamenu .megamenu-box .megamenu-list ul li a {
  font-size: 2.25rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1.5px #ff3a1e;
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  position: relative;
  cursor: pointer;
}
@media (min-width: 375px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.25rem;
  }
}
@media (min-width: 576px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 2.625rem;
  }
}
@media (min-width: 1024px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 3.375rem;
  }
}
@media (min-width: 1280px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 3.375rem;
  }
}
@media (min-width: 1560px) {
  header .megamenu .megamenu-box .megamenu-list ul li a {
    font-size: 4rem;
  }
}
header .megamenu .megamenu-box .megamenu-list ul li a:hover {
  color: #ff3a1e;
}
header .overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  z-index: 9990;
}
header .overlay.active {
  opacity: 1;
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section {
  height: 100vh;
}

.footer {
  padding: 4.375rem 0 3.125rem;
  background: #ff3a1e;
}
.footer .footer__logo {
  margin-bottom: 1.25rem;
}
.footer .footer__line {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-bottom: 1.25rem;
}
.footer .footer__info-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-bottom: 1.563rem;
}
.footer .footer__info-bar .footer__info-list {
  font-size: 0.75rem;
  font-weight: 300;
  color: #ffffff;
}
@media (min-width: 375px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 0.75rem;
  }
}
@media (min-width: 576px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 1rem;
  }
}
@media (min-width: 1560px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 1.125rem;
  }
}
.footer .footer__info-bar .footer__info-list + .footer__info-list::before {
  content: "|";
  margin: 0.625rem;
  color: inherit;
}
.footer .copyright p {
  font-size: 0.75rem;
  font-weight: 200;
  color: #ffffff;
}
@media (min-width: 375px) {
  .footer .copyright p {
    font-size: 0.75rem;
  }
}
@media (min-width: 576px) {
  .footer .copyright p {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .footer .copyright p {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .footer .copyright p {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer .copyright p {
    font-size: 1rem;
  }
}
@media (min-width: 1560px) {
  .footer .copyright p {
    font-size: 1.125rem;
  }
}
.footer .footer__right-info {
  text-align: right;
  font-size: 0.75rem;
  font-weight: 200;
  color: #ffffff;
}
@media (min-width: 375px) {
  .footer .footer__right-info {
    font-size: 0.75rem;
  }
}
@media (min-width: 576px) {
  .footer .footer__right-info {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .footer .footer__right-info {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .footer .footer__right-info {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer .footer__right-info {
    font-size: 1rem;
  }
}
@media (min-width: 1560px) {
  .footer .footer__right-info {
    font-size: 1.125rem;
  }
}
.footer .footer__right-info ul {
  margin-bottom: 0.625rem;
}/*# sourceMappingURL=event.css.map */