@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: pretendard;
  font-size: 16px;
}

ul {
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  line-height: 140%;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Bold.woff2") format("woff2"), url("../fonts/OggTRIAL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Medium.woff2") format("woff2"), url("../fonts/OggTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Regular.woff2") format("woff2"), url("../fonts/OggTRIAL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Light.woff2") format("woff2"), url("../fonts/OggTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg TRIAL";
  src: url("../fonts/OggTRIAL-Thin.woff2") format("woff2"), url("../fonts/OggTRIAL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
button {
  padding-block: 0;
  padding-inline: 0;
}

.your-style {
  font-family: "Ogg TRIAL";
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 16px;
}

.btn-bn {
  background: transparent;
  border: none;
}

.btn-order {
  background: #000000;
  border: none;
  border-radius: 300px;
  padding: 12px 30px;
}

.flower-box {
  box-shadow: 0 0 0 1px #a0a0a0 inset;
  border-radius: 5px;
  padding: 37px 36px;
}

.popup-modal {
  opacity: 0;
  display: block;
  transition: all 0.3s ease;
  visibility: hidden;
  max-width: 700px;
  max-height: 640px;
  border: 1px solid #ff3a1e;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  left: 30%;
  padding: 30px;
  background: #ffffff;
}
.popup-modal.show {
  opacity: 1;
  visibility: visible;
}
.popup-modal .modal__box {
  border: none;
  width: 100%;
  height: 100%;
}
.popup-modal .tab__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}
.popup-modal .tab__list .modal__close {
  border: none;
  background: none;
}
.popup-modal .tab__list .modal__tabs {
  display: flex;
  justify-content: left;
  border-bottom: none;
  gap: 10px 10px;
}
.popup-modal .tab__list .modal__tabs .modal__link {
  border: 1px solid;
  border-radius: 300px;
  border-color: #ff3a1e;
  background: #ffffff;
  padding: 5px 24px;
  font-size: 1.25rem;
  color: #ff3a1e;
  font-weight: 400;
}
.popup-modal .tab__list .modal__tabs .modal__item.show .modal__link,
.popup-modal .tab__list .modal__tabs .modal__item .modal__link.active {
  background: #ff3a1e;
  color: #ffffff;
  font-weight: 400;
}
.popup-modal .tab-content {
  width: 100%;
}
.popup-modal .tab-content .modal__content {
  width: 100%;
}
.popup-modal .tab-content .modal__content .modal__map {
  width: 100%;
  margin-bottom: 1.875rem;
}
.popup-modal .tab-content .modal__content .modal__map img {
  width: 100%;
  border-radius: 10px;
}
.popup-modal .tab-content .modal__content__title {
  margin-bottom: 0.625rem;
}
.popup-modal .tab-content .modal__content__title h4 {
  font-size: 1.5rem;
  color: #ff3a1e;
  font-weight: 700;
}
.popup-modal .tab-content .modal__content__info {
  display: flex;
  justify-content: space-between;
  gap: 24px 24px;
}
.popup-modal .tab-content .modal__content__info .content__text {
  width: 100%;
  gap: 10px;
}
.popup-modal .tab-content .modal__content__info .content__text .content__text-title span {
  display: inline-block;
  font-size: 1.125rem;
  color: #ff3a1e;
  font-weight: 500;
  margin-bottom: 10px;
}
.popup-modal .tab-content .modal__content__info .content__text span {
  font-size: 1rem;
  color: #ff3a1e;
  font-weight: 300;
}
.popup-modal .tab-content .modal__content__info .content__text .address {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.938rem;
}
.popup-modal .tab-content .modal__content__info .content__text .phonenumber {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.938rem;
}
.popup-modal .tab-content .modal__content__info .content__text .operating-time {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.popup-modal .tab-content .modal__socail-btn {
  display: flex;
  gap: 0 10px;
}
.popup-modal .tab-content .modal__socail-btn .social-btn {
  border: none;
  background: none;
}/*# sourceMappingURL=modal02.css.map */