@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: pretendard;
}

ul {
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

button {
  padding-block: 0;
  padding-inline: 0;
}

body {
  font-size: 16px;
}

.font {
  line-height: 140%;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

.btn-bn {
  background: transparent;
  border: none;
}

.btn-order {
  background: #000000;
  border: none;
  border-radius: 300px;
  padding: 12px 40px;
}

.flower-box {
  box-shadow: 0 0 0 1px #a0a0a0 inset;
  border-radius: 5px;
  padding: 37px 36px;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  transition: top 0.5s ease;
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header.hidden {
  top: -100%;
  z-index: 1000;
}
header .gnb {
  padding: 1.125rem auto;
}
header .gnb .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnb .navbar .nav-list {
  width: 650px;
}
header .gnb .navbar .nav-list .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnb .navbar .nav-list .nav a {
  font-weight: 500;
  color: #ff3a1e;
  font-size: 1.125rem;
}
@media (max-width: 1200px) {
  header .gnb .navbar .nav-list .nav a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header .gnb .navbar .nav-list .nav {
    display: none;
  }
}
header .gnb .navbar .hamburger {
  background-color: transparent;
  border: 0;
  color: #FF3A1E;
  cursor: pointer;
  display: inline-block;
  float: left;
  font: inherit;
  margin: 0.8125em 0 0;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  transition: opacity 0.15s;
  -webkit-appearance: none;
}
header .gnb .navbar .hamburger .hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner {
  display: block;
  top: 10%;
  /* margin-top: -2px;  */
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner,
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::before,
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #FF3A1E;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
header .gnb .navbar .hamburger .hamburger-box #masthead.is-active .hamburger-inner,
header .gnb .navbar .hamburger .hamburger-box #masthead.is-active .hamburger-inner::before,
header .gnb .navbar .hamburger .hamburger-box #masthead.is-active .hamburger-inner::after {
  background-color: #FF3A1E;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::before,
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::before {
  top: -6px;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-inner::after {
  bottom: -6px;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring .hamburger-inner,
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring .hamburger-inner::before,
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}
header .gnb .navbar .hamburger .hamburger-box #masthead.is-active .hamburger-label {
  color: #FF3A1E;
}
header .gnb .navbar .hamburger .hamburger-box .hamburger-box,
header .gnb .navbar .hamburger .hamburger-box .hamburger-label {
  display: inline-block;
  vertical-align: middle;
}
header .gnb .navbar .hamburger:hover {
  opacity: 0.7;
}
header #site-nav {
  clear: both;
  display: flex;
  flex-direction: row;
  height: 0;
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 2rem;
}
header #site-nav .megamenu-box {
  width: 650px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}
header #site-nav .megamenu-box #site-nav .megamenu-list {
  padding-bottom: 2.5em;
}
header #site-nav .megamenu-box #site-nav .megamenu-list a {
  color: #FF3A1E;
}
@media (max-width: 768px) {
  header #site-nav .megamenu-box {
    flex-direction: row;
    justify-content: space-between;
  }
}
header #site-nav.is-active {
  height: auto;
  overflow: visible;
}
header .megamenu {
  justify-content: center;
}
header #masthead .megamenu-list {
  opacity: 0;
}
header #site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF3A1E;
}
header #site-nav ul {
  list-style-type: none;
  margin-top: 1em;
}
header #site-nav li {
  margin-bottom: 0.3125em;
}
header #site-nav li a {
  color: rgba(255, 56, 30, 0.5764705882);
  text-decoration: none;
  transition: color 0.3s ease;
}
header #site-nav li a:hover,
header #site-nav li a:focus {
  color: #686d6e;
}
header #masthead.is-active .megamenu-list {
  transform: translateY(40px);
  transition: opacity 0.3s ease;
  animation: fade-in-stagger 0.8s ease forwards;
}
header #masthead.is-active .megamenu-list:nth-child(1) {
  -webkit-animation-delay: 0;
}
header #masthead.is-active .megamenu-list:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
header #masthead.is-active .megamenu-list:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
header #masthead.is-active .megamenu-list:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
header #masthead.is-active .megamenu-list:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
@keyframes fade-in-stagger {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec01 {
  width: 100%;
  height: 937px;
  position: relative;
  overflow: hidden;
}
.sec01 .frame {
  width: 100%;
  height: 100%;
}
.sec01 .frame img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.utility-buttons {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  overflow: visible;
  z-index: 1600;
}
.utility-buttons .kakaotalk-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1500;
  margin-bottom: 10px;
}
.utility-buttons .kakaotalk-btn .fab {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #ff3a1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.utility-buttons .kakaotalk-btn .fac {
  width: 225px;
  height: 50px;
  padding-left: 20px;
  border-radius: 64px;
  border: 1px solid #ff3a1e;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transform: scaleX(0.9);
  transform-origin: center right;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.utility-buttons .kakaotalk-btn .fac a {
  color: #344955;
  opacity: 0.8;
}
.utility-buttons .kakaotalk-btn .fac a:hover {
  opacity: 1;
  color: #30444f;
}
.utility-buttons .kakaotalk-btn.active .fac {
  transform: scaleX(1);
  opacity: 1;
}
.utility-buttons .kakaotalk-btn02 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1500;
  margin-bottom: 10px;
}
.utility-buttons .kakaotalk-btn02 .fab02 {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #3E2723;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.utility-buttons .kakaotalk-btn02 .fac02 {
  width: 225px;
  height: 50px;
  padding-left: 20px;
  border-radius: 64px;
  border: 1px solid #3E2723;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transform: scaleX(0.9);
  transform-origin: center right;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.utility-buttons .kakaotalk-btn02 .fac02 a {
  color: #344955;
  opacity: 0.8;
}
.utility-buttons .kakaotalk-btn02 .fac02 a:hover {
  opacity: 1;
  color: #30444f;
}
.utility-buttons .kakaotalk-btn02.active .fac02 {
  transform: scaleX(1);
  opacity: 1;
}
.utility-buttons .btn-top {
  width: 50px;
  height: 50px;
  border: 1px solid #ff3a1e;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec02 {
  position: relative;
}
.sec02 .sec02_bg {
  position: relative;
  max-width: 862px;
  width: 100%;
  height: 754px;
}
.sec02 .sec02_bg .sec02__img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  .sec02 .sec02_bg .sec02__img {
    width: 533px;
    height: 594px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_bg .sec02__img {
    width: 768px;
    height: 244px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_bg .sec02__img {
    width: 576px;
    height: 218px;
  }
}
.sec02 .sec02_main-content {
  position: absolute;
  top: 0;
  left: 314px;
  padding: 6.25rem 0;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content {
    top: 0;
    left: 82px;
    padding: 5.313rem 0;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content {
    width: 696px;
    left: 28px;
    padding: 4.375rem 0;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content {
    width: 516px;
    left: 30px;
    padding: 3.125rem 0;
  }
}
.sec02 .sec02_main-content .row {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .row {
    flex-direction: column;
  }
  .sec02 .sec02_main-content .row > .col-md-1 {
    display: none;
  }
  .sec02 .sec02_main-content .row > .sec02__left-content,
  .sec02 .sec02_main-content .row > .sec02__right-content {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .row {
    width: 516px;
  }
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content {
    width: 1198px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content {
    width: 696px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content {
    width: 516px;
  }
}
.sec02 .sec02_main-content .sec02__title {
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content .sec02__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__title {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__title {
    margin-bottom: 30px;
  }
}
.sec02 .sec02_main-content .sec02__title h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content .sec02__title h1 {
    font-size: 54px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__title h1 {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__title h1 {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__menu {
    width: 516px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__menu ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__menu ul {
    font-size: 20px;
  }
}
.sec02 .sec02_main-content .sec02__menu .sec02__tab-list {
  margin-bottom: 3.125rem;
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__menu .sec02__tab-list {
    margin-bottom: 0;
  }
}
.sec02 .sec02_main-content .sec02__menu .sec02__tab-list a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.625rem;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content .sec02__menu .sec02__tab-list a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__menu .sec02__tab-list a {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__menu .sec02__tab-list a {
    font-size: 20px;
  }
}
.sec02 .sec02_main-content .sec02__menu .sec02__tab-list a.active {
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}
.sec02 .sec02_main-content .sec02__right-content {
  margin-top: 76px;
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__right-content {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__right-content {
    padding: 0;
  }
}
.sec02 .sec02_main-content .sec02__right-content .sec02__subtitle h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__subtitle h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__subtitle h2 {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__subtitle h2 {
    font-size: 32px;
  }
}
.sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu {
  display: none;
}
.sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content {
  display: flex;
}
.sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-img {
  margin-bottom: 1.875rem;
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-img {
    font-size: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-img {
    font-size: 20px;
  }
}
.sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-name h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 1200px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-name h4 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-name h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu .sec02__menu-content .menu-name h4 {
    font-size: 20px;
  }
}
.sec02 .sec02_main-content .sec02__right-content .sec02__tab-menu.active {
  display: block;
}

.sec03 {
  padding: 6.25rem 0;
}
.sec03 .sec03_frame {
  margin: 3.75rem, 0;
}
.sec03 .sec03_frame .sec03__title {
  margin: 1.875rem, 0;
}
.sec03 .sec03_frame .sec03__title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ff3a1e;
}
@media (max-width: 1200px) {
  .sec03 .sec03_frame .sec03__title h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .sec03 .sec03_frame .sec03__title h2 {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .sec03 .sec03_frame .sec03__title h2 {
    font-size: 42px;
  }
}
.sec03 .sec03_frame .sec03__subtitle h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 1200px) {
  .sec03 .sec03_frame .sec03__subtitle h4 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec03 .sec03_frame .sec03__subtitle h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec03 .sec03_frame .sec03__subtitle h4 {
    font-size: 20px;
  }
}

.sec04 {
  padding: 6.25rem 0;
}
.sec04 .sec04_title {
  margin-bottom: 3.75rem;
}
.sec04 .sec04_title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ff3a1e;
}
@media (max-width: 1200px) {
  .sec04 .sec04_title h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .sec04 .sec04_title h2 {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .sec04 .sec04_title h2 {
    font-size: 42px;
  }
}
.sec04 .sec04_main-content .sec04__img {
  max-width: 312px;
  margin-bottom: 0.938rem;
  position: relative;
}
.sec04 .sec04_main-content .sec04__img img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec04 .sec04_main-content .sec04__img .sec04__img-info-bg {
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(148, 66, 34, 0.4392156863);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  z-index: 8;
}
.sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info {
  position: absolute;
  bottom: 0;
  padding-left: 1.875rem;
  padding-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .extrabold {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .extrabold {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .extrabold {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .extrabold {
    font-size: 18px;
  }
}
.sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .medium {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .medium {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .medium {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .sec04 .sec04_main-content .sec04__img .sec04__img-info-bg .flower-img-info .flower-nametag .medium {
    font-size: 16px;
  }
}
.sec04 .sec04_main-content .sec04__img:hover .sec04__img-info-bg {
  opacity: 1;
}
.sec04 .sec04_main-content .sec04__f-name h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4b4b4b;
  margin-bottom: 1.375rem;
}
@media (max-width: 1200px) {
  .sec04 .sec04_main-content .sec04__f-name h4 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec04 .sec04_main-content .sec04__f-name h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec04 .sec04_main-content .sec04__f-name h4 {
    font-size: 20px;
  }
}
.sec04 .sec04_main-content .sec04__f-name .sec04__f-tag {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
  display: flex;
  gap: 10px;
}
@media (max-width: 1200px) {
  .sec04 .sec04_main-content .sec04__f-name .sec04__f-tag {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .sec04 .sec04_main-content .sec04__f-name .sec04__f-tag {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .sec04 .sec04_main-content .sec04__f-name .sec04__f-tag {
    font-size: 14px;
  }
}

.sec05 {
  padding: 6.25rem 0;
}
.sec05 .sec05_title {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 3.75rem;
}
.sec05 .sec05_title .sec05__instagram-icon {
  width: 57px;
}
.sec05 .sec05_title .sec05__instagram-icon img {
  width: 100%;
}
.sec05 .sec05_title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ff3a1e;
}
@media (max-width: 1200px) {
  .sec05 .sec05_title h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .sec05 .sec05_title h2 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .sec05 .sec05_title h2 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .sec05 .sec05__insta-content {
    gap: 24px 0;
  }
}
.sec05 .sec05__insta-content .sec05_content img.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 768px) {
  .sec05 .sec05__insta-content .sec05_content {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

.sec06 {
  padding: 4.375rem 0;
}
.sec06 .sec06__text {
  margin-bottom: 1.875rem;
}
.sec06 .sec06__text h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 1200px) {
  .sec06 .sec06__text h4 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec06 .sec06__text h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec06 .sec06__text h4 {
    font-size: 20px;
  }
}
.sec06 .sec06__iconbox {
  margin-bottom: 1.875rem;
  margin: 0 auto 1.875rem;
}
.sec06 .sec06__title {
  margin-bottom: 3.125rem;
}
.sec06 .sec06__title span {
  font-family: "Cabinest", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 1200px) {
  .sec06 .sec06__title span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec06 .sec06__title span {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec06 .sec06__title span {
    font-size: 20px;
  }
}
.sec06 .sec06__title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
@media (max-width: 1200px) {
  .sec06 .sec06__title h4 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .sec06 .sec06__title h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .sec06 .sec06__title h4 {
    font-size: 20px;
  }
}
.sec06 .sec06__button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

.footer {
  padding: 4.375rem 0 3.125rem;
  background: #ff3a1e;
}
.footer .footer__logo {
  margin-bottom: 1.25rem;
}
.footer .footer__line {
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-bottom: 1.25rem;
}
.footer .footer__info-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-bottom: 1.563rem;
}
.footer .footer__info-bar .footer__info-list {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .footer .footer__info-bar .footer__info-list {
    font-size: 14px;
  }
}
.footer .footer__info-bar .footer__info-list + .footer__info-list::before {
  content: "|";
  margin: 0.625rem;
  color: inherit;
}
.footer .copyright p {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .footer .copyright p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer .copyright p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .footer .copyright p {
    font-size: 14px;
  }
}
.footer .footer__right-info {
  text-align: right;
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .footer .footer__right-info {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer .footer__right-info {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .footer .footer__right-info {
    font-size: 14px;
  }
}
.footer .footer__right-info ul {
  margin-bottom: 0.625rem;
}/*# sourceMappingURL=style.css.map */